{% verbatim %}
<script id="t-organizations" type="text/template">
  <form style="display: flex">
    <select
      id="topLevelOrganization"
      class="form-control form-select"
      onchange="this.value=='none' ? nav('organizations') : nav('organizations',{tloId: this.value})"
    >
      <option value="none">Select Top Level Organization</option>
      {{#topLevelOrganizationsSelect}} {{#if selected}}
      <option value="{{id}}" selected>{{name}}</option>
      {{else}}
      <option value="{{id}}">{{name}}</option>
      {{/if}} {{/topLevelOrganizationsSelect}}
    </select>

    {{#if tloId}}
      {{> crudButton iconRead=true
        onclick="nav('organizations',{
          tloId: document.getElementById('topLevelOrganization').value,
          id: document.getElementById('topLevelOrganization').value,
          read: true
        })"
      }}
      {{> crudButton iconUpdate=true
        onclick="nav('organizations',{
          tloId: document.getElementById('topLevelOrganization').value,
          id: document.getElementById('topLevelOrganization').value,
          update: true
        })"
      }}
    {{/if}}
    {{#if tloId}}
      {{> crudButton iconCreate=true
        onclick="nav('organizations',{
          tloId: document.getElementById('topLevelOrganization').value,
          partOf: document.getElementById('topLevelOrganization').value,
          create: true
        })"
      }}
    {{/if}}
    {{#unless tloId}}
      {{#if @root.canCreateTopLevelOrganization}}
      {{> crudButton iconCreate=true
        onclick="nav('organizations',{
          create: true
        })"
      }}
      {{/if}}
    {{/unless}}
    {{#if tloId}}
      {{> crudButton iconDelete=true
        onclick="nav('organizations',{
          tloId: document.getElementById('topLevelOrganization').value,
          id: document.getElementById('topLevelOrganization').value,
          delete: true
        })"
      }}
    {{/if}}
  </form>
  <div id="subOrganizations">
    <ul style="list-style-type: none;" class="m-3">
      {{> recursiveOrganizationTree}}
    </ul>
  </div>


  <!-- MODAL -->
  <div
    class="modal fade"
    id="organizations-crudModal"
    data-bs-backdrop="static"
    data-bs-keyboard="false"
    tabindex="-1"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">
            {{#if create}} Create Organization {{/if}}
            {{#if read}} View Organization {{/if}}
            {{#if update}} Update Organization {{/if}}
            {{#if delete}} Delete Organization {{/if}}
          </h1>
          <button
            type="button"
            class="btn-close"
            onclick="navReturnFromCrud()"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <div class="container-fluid">
            {{#if delete}}
              <div class="alert alert-danger" role="alert">
                Are you sure you want to delete this entire record?
              </div>
            {{/if}}
            <form>
              <fieldset {{#if read }} disabled {{/if}} {{#if delete }} disabled {{/if}}>
              {{#unless create}}
                <div class="mb-3">
                  <label for="organizationId" class="form-label"
                    >ID</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="organizationId"
                    value="{{organizationRecord.id}}"
                    disabled
                  />
                </div>
              {{/unless}}
              <div class="mb-3">
                <label for="organizationName" class="form-label"
                  >Name</label
                >
                <input
                  type="text"
                  class="form-control"
                  id="organizationName"
                  value="{{organizationRecord.name}}"
                />
              </div>
              <div class="mb-3">
                <label for="organizationType" class="form-label"
                  >Type</label
                >
                <select id="organizationType" class="form-select">
                {{#organizationRecord.typeSelect}}
                  {{#if selected}}
                    <option value="{{id}}" selected>{{label}}</option>
                  {{else}}
                    <option value="{{id}}">{{label}}</option>
                  {{/if}}
                {{/organizationRecord.typeSelect}}
                </select>
              </div>
              <div class="mb-3">
                <fieldset disabled>
                  <label for="organizationPartOf" class="form-label"
                    >Part of</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="organizationPartOf"
                    value="{{organizationRecord.partOfName}}"
                  />
                </fieldset>
              </div>
              </fieldset>
            </form>
            {{#if read}}
              <p>
                  {{#if canManagePractitionersInOrg}}
                Users
                <button
                  type="button"
                  onclick="document.getElementById('organizationAddUserForm').style.setProperty('display','block')"
                  class="m-0 p-0 btn btn-sm"
                >
                  <i class="bi bi-file-earmark-plus"></i>
                </button>
                  {{/if}}
              </p>
              <div id="organizationAddUserForm" class="mb-2" style="display: none">
              <div class="d-flex mb-2">
                <input
                  id="newUserEmail"
                  type="text"
                  class="form-control me-2"
                  placeholder="Existing user E-mail Address"
                  aria-label="Existing user E-mail Address"
                  style="max-width: 300px;"
                >
                <button
                  type="button"
                  class="btn btn-sm btn-success"
                  onclick="addUserToOrganization(
                    document.getElementById('newUserEmail').value,
                    {{organizationRecord.id}},
                    document.querySelector('input[name=radioRole]:checked').value
                  )"
                >
                  Add
                </button>
              </div>

              <div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="radioRole" id="radioManager" value="manager">
                  <label class="form-check-label" for="radioManager">Manager</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="radioRole" id="radioMember" value="member" checked>
                  <label class="form-check-label" for="radioMember">Member</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="radioRole" id="radioViewer" value="viewer">
                  <label class="form-check-label" for="radioManager">Viewer</label>
                </div>
              </div>
            </div>
              <ul>
                {{#each organizationRecord.users}}
                  <li>
                    {{email}}
                      <span class="text-capitalize" >({{ role }})</span>
                      {{#if @root.canManagePractitionersInOrg}}
                    <button
                      type="button"
                      onclick="removeUserFromOrganization({{id}},document.getElementById('organizationId').value)"
                      class="m-0 p-0 btn btn-sm"
                    >
                      <i class="bi bi-trash"></i>
                    </button>
                      {{/if}}
                  </li>
                {{/each}}
              </ul>
              <p>
                Studies
                {{#if @root.canManagePractitionersInOrg}}
                    <button
                      type="button"
                      onclick="createStudyFromOrganization({{organizationRecord.id}},'{{organizationRecord.name}}')"
                      class="m-0 p-0 btn btn-sm"
                    >
                      <i class="bi bi-file-earmark-plus"></i>
                    </button>
                {{/if}}
              </p>
              <ul>
                {{#each organizationRecord.studies}}
                  <li>
                    {{name}}
                  </li>
                {{/each}}
              </ul>
            {{/if}}
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            onclick="navReturnFromCrud()"
          >
            Close
          </button>
          {{#if create}}
            <button type="button" class="btn btn-primary" onclick="createOrganization({{organizationRecord.partOfId}})">Create</button>
          {{/if}}
          {{#if update}}
            <button type="button" class="btn btn-primary" onclick="updateOrganization({{organizationRecord.id}})">Update</button>
          {{/if}}
          {{#if delete}}
            <button type="button" class="btn btn-danger" onclick="deleteOrganization({{organizationRecord.id}})">Delete</button>
          {{/if}}
        </div>
      </div>
    </div>
  </div>
</script>

<script id="t-recursiveOrganizationTree" type="text/template">
  {{#each children}}
    <li>
      <i class="bi bi-arrow-return-right"></i>
      {{name}}

      {{> crudButton iconRead=true recordId=id
        onclick="nav('organizations',{
          tloId: document.getElementById('topLevelOrganization').value,
          id: this.dataset.recordid,
          read: true
        })"
      }}

    {{#if @root.canManagePractitionersInOrg}}

    {{> crudButton iconUpdate=true recordId=id
      onclick="nav('organizations',{
        tloId: document.getElementById('topLevelOrganization').value,
        id: this.dataset.recordid,
        update: true
      })"
    }}

    {{> crudButton iconCreate=true recordId=id
      onclick="nav('organizations',{
        tloId: document.getElementById('topLevelOrganization').value,
        id: this.dataset.recordid,
        create: true
      })"
    }}

    {{> crudButton iconDelete=true recordId=id
      onclick="nav('organizations',{
        tloId: document.getElementById('topLevelOrganization').value,
        id: this.dataset.recordid,
        delete: true
      })"
    }}

  {{/if}}


      {{#if children}}
        <ul style="list-style-type: none;">
        {{> recursiveOrganizationTree}}
        </ul>
      {{/if}}
    </li>
  {{/each}}
</script>
{% endverbatim %}
